@use '../../variables.scss';

.container {
    display: grid;
    grid-template-columns: 5fr 9fr;

    .card {
        margin: 50px;
        padding: 10px;
        border: 2px solid variables.$accent-color;
        background: linear-gradient(
            to bottom,
            variables.$background-color-darker 25%,
            variables.$background-color-lighter 50%,
            variables.$background-color-darker 75%
        );
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        h4 {
            margin: 0 0 0 10px;
            font-size: 1.5em;
            color: variables.$accent-color;
        }
        
        h5 {
            margin: 75px;
            font-size: 11em;
            font-weight: 300;
            text-align: center;
            color: variables.$golden-color;
        }
        
        p {
            margin-left: 10px;
            font-size: 1.2em;
            color: variables.$header-color;
        }
        
        .row {
            display: grid;
            grid-template-columns: 3fr 1fr 3fr 3fr;
            align-items: center;
            gap: 0.5rem;
            margin-bottom: 0.5rem;
        }
        
        .separator {
            color: variables.$accent-color;
        }
    }
}