@use '../../variables.scss';

.navbar {
    background-color: variables.$background-color-darker;
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid variables.$accent-color;
    border-bottom: 2px solid variables.$accent-color;
    box-sizing: border-box;
    user-select: none;
    
    div {
        display: flex;
        align-items: center;
    }
    
    .header {
        color: variables.$header-color;
        font-size: 2rem;
        margin: 2px 0 0 20px;
    }
    
    .logo {
        height: 75px;
        margin-right: 10px;
    }
    
    .navList {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
    
        .navItem {

            a {
                color: variables.$header-color;
                text-decoration: none;
                font-size: 1.2rem;
                margin: 0 15px;
                padding: 20px 10px;
    
                &:hover {
                    background-color: variables.$accent-color;
                }
            }
        }
    }
}