.navbar {
    background-color: var(--background-color-darker);
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid var(--accent-color);
    border-bottom: 2px solid var(--accent-color);
    box-sizing: border-box;
}

.navbar div {
    display: flex;
    align-items: center;
}

.header {
    color: var(--header-color);
    font-size: 2rem;
    margin-left: 20px;
}

.logo {
    height: 75px;
    margin-right: 10px;
}

.navItem a {
    color: var(--header-color);
    text-decoration: none;
    font-size: 1.2rem;
    margin: 0 15px;
    padding: 20px 10px;
}

.navItem a:hover {
    background-color: var(--accent-color);
}

.navList {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}