.checkboxWrapper {
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    flex-shrink: 0;
    position: relative;
}
  
.checkboxWrapper input {
    opacity: 0;
    position: absolute;
    inset: 0;
    margin: 0;
    cursor: pointer;
    z-index: 2;
}

.customBox {
    display: block;
    width: 100%;
    height: 100%;
    border: 2px solid var(--golden-color);
    background-color: var(--background-color-darker);
    position: relative;
    transition: all 0.2s;
}
  
.checkboxWrapper input:checked + .customBox::after {
    content: '';
    position: absolute;
    inset: 2px;
    background-color: var(--golden-color);
}  